---

---

<section id="about" class="px-6 py-20 bg-gradient-to-r from-teal-200 to-teal-500;
    ">
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center gap-12" data-sal="zoom-out"
    data-sal-duration="800"
    data-sal-delay="200">
    <div class="md:w-1/2">
      <h2 class="text-4xl md:text-6xl font-bold text-gray-800 mb-6">
        Nuestra Historia
      </h2>
      <p class="text-text/80 leading-relaxed mb-4">
        En Mi Restaurante, nos apasiona ofrecer experiencias gastronómicas
        inolvidables. Desde nuestros inicios, hemos buscado fusionar tradición y
        modernidad, usando ingredientes frescos y locales.
      </p>
      <p class="text-text/80 leading-relaxed">
        Nuestro compromiso es brindar un servicio cálido y platillos que
        deleiten a todos los paladares. ¡Ven y sé parte de nuestra familia!
      </p>
    </div>
    <div class="md:w-1/2">
      <img
        src="/images/about-us.jpg"
        alt="Nuestra historia"
        class="rounded-3xl shadow-lg object-cover w-full max-h-[400px]"
      />
    </div>
  </div>
</section>
