---
import Header from "../components/Header.astro";
---

<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Restaurante</title>
    <link rel="stylesheet" href="/styles/theme.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-base bg-bg text-text">
    <Header />

    <main class="pt-16">
      <slot />
    </main>
  </body>
  <script src="./src/scripts/menu.js" is:client></script>
</html>
